@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  @apply scroll-smooth antialiased;
}

html {
  @apply bg-gray-50;
  scrollbar-color: #00000080 transparent;
  scrollbar-width: auto;
}

body {
  @apply h-full w-full;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}

/* Chart */

.apexcharts-canvas .apexcharts-xaxistooltip {
  @apply rounded-lg border-0 bg-gray-50/10 text-primary-600 shadow-md !backdrop-blur before:border-b-transparent after:border-b-white/10 dark:after:border-b-dark/10;
}

.apexcharts-canvas .apexcharts-tooltip-title {
  @apply border-0 bg-gray-200 text-center font-bold text-secondary-600 dark:text-primary-600;
}

.apexcharts-canvas .apexcharts-legend {
  @apply p-0;
}
.apexcharts-canvas .apexcharts-legend-series {
  @apply !flex items-center;
}
.apexcharts-canvas .apexcharts-legend-marker {
  @apply mr-2;
}
.apexcharts-canvas .apexcharts-legend-text {
  @apply capitalize leading-5 dark:!text-white;
}

.apexcharts-canvas .apexcharts-tooltip.apexcharts-theme-light,
.apexcharts-canvas .apexcharts-tooltip.apexcharts-theme-dark {
  @apply rounded-lg border-0 !bg-white/20 text-rich-black shadow-lg backdrop-blur  dark:!bg-dark/50 dark:text-white;
}

.apexcharts-canvas .apexcharts-text.apexcharts-xaxis-label,
.apexcharts-canvas .apexcharts-text.apexcharts-yaxis-label {
  @apply !fill-rich-black dark:!fill-gray-300;
}

/* scrollbar */

.scrollbar-none {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.scrollbar-none::-webkit-scrollbar {
  display: none; /* Chrome, Safari, and Opera */
}

html[class*='dark'] {
  @apply bg-dark;
  scrollbar-color: #ffffffb3 transparent;
  scrollbar-width: auto;
}

::-webkit-scrollbar {
  height: 8px;
  width: 8px;
}

::-webkit-scrollbar-track {
  @apply bg-transparent;
}

::-webkit-scrollbar-thumb {
  @apply rounded-full bg-black/50 dark:bg-white/70;
}

::-webkit-scrollbar-thumb:hover {
  @apply bg-black/60 dark:hover:bg-white/80;
}

/* Checkbox */
.checkbox-container {
  @apply relative block h-6 w-6 cursor-pointer  select-none text-xl;
}

.checkbox-container input {
  @apply absolute h-0 w-0
  cursor-pointer opacity-0;
}

.checkbox-checkmark {
  @apply absolute top-0 right-0 flex h-6 w-6 items-center justify-center rounded-md
    border  text-transparent dark:bg-transparent;
}

.checkbox-container input:checked ~ .checkbox-checkmark {
  @apply border-none bg-primary-600 text-white;
}

.checkbox-container input:indeterminate ~ .checkbox-checkmark {
  @apply border-none bg-primary-600 text-white;
}

.checkbox-container input:checked ~ .checkbox-checkmark .checkbox-indeterminate {
  @apply hidden;
}

.checkbox-container input:indeterminate ~ .checkbox-checkmark .checkbox-checked {
  @apply hidden;
}

/* Radio */
.radio-container {
  @apply relative block h-5 w-5 cursor-pointer  select-none text-xl;
}

.radio-container input {
  @apply absolute h-0 w-0
  cursor-pointer opacity-0;
}

.radio-checkmark {
  @apply absolute top-0 right-0 flex h-5 w-5 items-center justify-center rounded-full
    border  text-transparent dark:bg-transparent;
}

.radio-container input:checked ~ .radio-checkmark {
  @apply border-none bg-primary-600 text-white;
}

/* Rich Text Editor */

.ProseMirror {
  @apply max-h-96 overflow-scroll outline-none;
}

.ProseMirror p.is-editor-empty:first-child::before {
  color: #adb5bd;
  content: attr(data-placeholder);
  float: left;
  height: 0;
  pointer-events: none;
}

.ProseMirror ul {
  @apply list-disc py-0 px-6;
}

.ProseMirror ol {
  @apply list-decimal py-0 px-6;
}

.ProseMirror h1,
.ProseMirror h2,
.ProseMirror h3,
.ProseMirror h4,
.ProseMirror h5,
.ProseMirror h6 {
  line-height: 1.1;
}

.ProseMirror code {
  background-color: rgba(#616161, 0.1);
  color: #616161;
}

.ProseMirror pre {
  background: #0d0d0d;
  color: #fff;
  font-family: 'JetBrainsMono', monospace;
  padding: 0.75rem 1rem;
  border-radius: 0.5rem;
}
.ProseMirror pre code {
  color: inherit;
  padding: 0;
  background: none;
  font-size: 0.8rem;
}

.ProseMirror img {
  max-width: 100%;
  height: auto;
}

.ProseMirror blockquote {
  padding-left: 1rem;
  border-left: 2px solid rgba(#0d0d0d, 0.1);
}

.ProseMirror hr {
  border: none;
  border-top: 2px solid rgba(#0d0d0d, 0.1);
  margin: 2rem 0;
}

.ProseMirror a {
  @apply cursor-pointer text-blue-500 underline;
}

/* Autosuggest */
.react-autosuggest__container {
  @apply relative w-full items-center justify-center  rounded-lg bg-transparent outline outline-1 outline-gray-400 focus-within:outline-2 focus-within:outline-primary-600 hover:outline-primary-600 dark:outline-gray-300 dark:focus-within:outline-primary-300 dark:hover:outline-primary-300;
}

.react-autosuggest__input {
  @apply w-full flex-1 rounded-lg bg-transparent p-2 outline-none;
}

.react-autosuggest__suggestions-container {
  @apply hidden;
}

.react-autosuggest__container--open .react-autosuggest__suggestions-container {
  @apply absolute -bottom-px z-10 block w-full translate-y-full rounded-lg border bg-paper-light shadow-lg dark:bg-paper-dark;
}

.react-autosuggest__suggestions-list {
  @apply overflow-hidden rounded-lg py-2;
}
.react-autosuggest__suggestion {
  @apply cursor-pointer;
}

.react-autosuggest__suggestion:not(:first-child) {
  @apply border-t;
}

.react-autosuggest__suggestion--focused,
.react-autosuggest__suggestion:hover,
.react-autosuggest__suggestion:active {
  @apply bg-gray-500/20;
}

.react-select-container {
  @apply !w-full;
}
.react-select-container .react-select__control {
  @apply rounded-lg border border-gray-400 bg-transparent shadow-none focus-within:border-black hover:border-black dark:!border-gray-500 dark:!text-white dark:hover:!border-white dark:focus:!border-white;
}

.react-select-container .react-select__control .react-select__value-container {
  @apply text-white;
}

.react-select__input-container {
  @apply dark:!text-white;
}

.react-select__single-value {
  @apply dark:!text-white;
}
.react-select__indicator.react-select__dropdown-indicator {
  @apply dark:!text-white;
}

.react-select__menu {
  @apply !z-50 overflow-hidden !rounded-lg border bg-paper-light shadow-md dark:bg-paper-dark;
}

.react-select__menu-list {
  @apply overflow-hidden !rounded-lg;
}
.react-select__option {
  @apply rounded-none bg-paper-dark !text-black hover:!bg-gray-200 ltr:text-left rtl:text-right dark:bg-paper-dark dark:!text-white dark:hover:!bg-paper-hover-dark;
}

.react-select__option--is-selected {
  @apply rounded-none !bg-gray-300 hover:!bg-gray-200 dark:!bg-paper-dark-contrast dark:hover:!bg-paper-hover-dark;
}

.react-select__multi-value {
  @apply items-center gap-1 !rounded-full px-1 dark:!bg-paper-dark-contrast;
}
.react-select__multi-value__label {
  @apply dark:!text-white;
}
.react-select__multi-value__remove {
  @apply flex h-4 w-4 items-center justify-center !rounded-full bg-gray-500 !p-0 text-black/80 text-white hover:!bg-gray-400 hover:!text-white;
}
.react-select__indicator.react-select__clear-indicator {
  @apply cursor-pointer rounded-full p-1 hover:bg-gray-100 ltr:mr-1 rtl:ml-1 dark:text-white dark:hover:bg-gray-600;
}

/* React Flow */
