@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  @apply scroll-smooth antialiased;
}

html {
  @apply bg-white;
  scrollbar-color: #00000080 transparent;
  scrollbar-width: auto;
}

html[class*='dark'] {
  @apply bg-dark;
  scrollbar-color: #ffffffb3 transparent;
  scrollbar-width: auto;
}

::-webkit-scrollbar {
  height: 8px;
  width: 8px;
}

::-webkit-scrollbar-track {
  @apply bg-transparent;
}

::-webkit-scrollbar-thumb {
  @apply rounded-full bg-black/50 dark:bg-white/70;
}

::-webkit-scrollbar-thumb:hover {
  @apply bg-black/60 dark:hover:bg-white/80;
}

body {
  @apply h-full w-full;
}

.apexcharts-canvas .apexcharts-xaxistooltip {
  @apply rounded-lg border-0 bg-gray-50/10 text-primary-600 shadow-md !backdrop-blur before:border-b-transparent after:border-b-white/10 dark:after:border-b-dark/10;
}

.apexcharts-canvas .apexcharts-tooltip-title {
  @apply border-0 bg-gray-200 text-center font-bold text-secondary-600 dark:text-primary-600;
}

.apexcharts-canvas .apexcharts-legend {
  @apply p-0;
}
.apexcharts-canvas .apexcharts-legend-series {
  @apply !flex items-center;
}
.apexcharts-canvas .apexcharts-legend-marker {
  @apply mr-2;
}
.apexcharts-canvas .apexcharts-legend-text {
  @apply capitalize leading-5 dark:!text-white;
}

.apexcharts-canvas .apexcharts-tooltip.apexcharts-theme-light,
.apexcharts-canvas .apexcharts-tooltip.apexcharts-theme-dark {
  @apply rounded-lg border-0 !bg-white/20 text-rich-black shadow-lg backdrop-blur  dark:!bg-dark/50 dark:text-white;
}

.apexcharts-canvas .apexcharts-text.apexcharts-xaxis-label,
.apexcharts-canvas .apexcharts-text.apexcharts-yaxis-label {
  @apply !fill-rich-black dark:!fill-gray-300;
}

.rdt_Table {
  @apply dark:!bg-paper-dark;
}
.rdt_Table .rdt_TableHead {
  @apply bg-gray-100 text-right dark:text-white;
}

.rdt_Table .rdt_TableHeadRow {
  @apply border-none  bg-transparent  text-sm dark:bg-gray-900;
}

.rdt_Table .rdt_TableBody {
}
.rdt_Table .rdt_TableRow {
  @apply !border-b-0 bg-transparent text-rich-black hover:border-0 hover:bg-gray-100 hover:outline-none dark:text-white dark:hover:bg-paper-hover-dark;
}
.rdt_Pagination {
  @apply dark:bg-paper-dark  dark:text-white;
}

.rdt_Pagination button:disabled {
  @apply dark:!fill-gray-500;
}

.scrollbar-none {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.scrollbar-none::-webkit-scrollbar {
  display: none; /* Chrome, Safari, and Opera */
}

/* Customize the label (the container) */
.checkbox-container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.checkbox-container input {
  @apply absolute h-0 w-0
  cursor-pointer opacity-0;
}

.checkbox-checkmark {
  @apply absolute top-0 right-0 flex h-6 w-6 items-center justify-center rounded-md
    border border-gray-400 text-transparent dark:bg-transparent;
}

.checkbox-container input:checked ~ .checkbox-checkmark {
  @apply border-none bg-primary-600 text-white;
}

.checkbox-container input:indeterminate ~ .checkbox-checkmark {
  @apply border-none bg-primary-600 text-white;
}

.checkbox-container input:checked ~ .checkbox-checkmark .checkbox-indeterminate {
  @apply hidden;
}

.checkbox-container input:indeterminate ~ .checkbox-checkmark .checkbox-checked {
  @apply hidden;
}

/* Rich Text Editor */

.ProseMirror {
  @apply max-h-96 overflow-scroll outline-none;
}

.ProseMirror p.is-editor-empty:first-child::before {
  color: #adb5bd;
  content: attr(data-placeholder);
  float: left;
  height: 0;
  pointer-events: none;
}

.ProseMirror ul {
  @apply list-disc py-0 px-4;
}

.ProseMirror ol {
  @apply list-decimal py-0 px-4;
}

.ProseMirror h1,
.ProseMirror h2,
.ProseMirror h3,
.ProseMirror h4,
.ProseMirror h5,
.ProseMirror h6 {
  line-height: 1.1;
}

.ProseMirror code {
  background-color: rgba(#616161, 0.1);
  color: #616161;
}

.ProseMirror pre {
  background: #0d0d0d;
  color: #fff;
  font-family: 'JetBrainsMono', monospace;
  padding: 0.75rem 1rem;
  border-radius: 0.5rem;
}
.ProseMirror pre code {
  color: inherit;
  padding: 0;
  background: none;
  font-size: 0.8rem;
}

.ProseMirror img {
  max-width: 100%;
  height: auto;
}

.ProseMirror blockquote {
  padding-left: 1rem;
  border-left: 2px solid rgba(#0d0d0d, 0.1);
}

.ProseMirror hr {
  border: none;
  border-top: 2px solid rgba(#0d0d0d, 0.1);
  margin: 2rem 0;
}

.ProseMirror a {
  @apply cursor-pointer text-blue-500 underline;
}
